[config]
add_repo_metadata = true

[pr_reviewer]
require_score_review = true
require_tests_review = true
require_security_review = true
inline_code_comments = true
num_code_suggestions = 10

[pr_code_suggestions]

[pr_description]
generate_ai_title = true
